<div class="masthead text-center text-white d-flex">
  <div class="container my-auto">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4">
      <div class="form-style">
        <%= form_for @user, :html => {class: 'st-form', multipart: true} do |f| %>
          <h2>Edit profile</h2>

          <div class="form-group">
            <%= f.label :first_name, class: 'sr-only' %>
            <%= f.text_field :first_name, placeholder: 'name' , class: 'form-control' %>
          </div>
    
          <div class="form-group">
            <%= f.label :last_name, class: 'sr-only' %>
            <%= f.text_field :last_name, placeholder: 'last name', class: 'form-control' %>
          </div>
    
          <div class="form-group">
            <%= f.label :email, class: 'sr-only' %>
            <%= f.email_field :email, placeholder: 'email', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: 'sr-only'  %>
            <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
          </div>
    
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'sr-only' %>
            <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control' %>
          </div>
          <div class="form-group">
            <p>Already registered? <%= link_to  "Sign In", sign_in_path %></p>
          </div>
          <%= f.submit 'Update', class: 'btn btn-primary btn-xl' %>
    
        <% end %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
</div>