<% @posts.each do |post| %>
  <div class="blog">
    <div class="thumbnail"><%= image_tag(post.photo, class: "left") %></div>
    <div class="right">
      <div class="title"><%= post.title %></div>
      <div class="author">
        <img src="https://randomuser.me/api/portraits/men/95.jpg" alt="">
        <div class="author-name">Igor Marty</div>
      </div>
      <div class="separator"></div>
      <p><%= post.subtitle %></p>
    </div>
    <div class="container">
      <div class="date"><%= post.created_at.strftime("%d") %></div>
      <div class="month"><%= post.created_at.strftime("%B") %></div>
    </div>
    <div class="fabe">  
      <%= link_to post, class: "read" do %>
        <i class="fab fa-readme fa-3x"></i>
      <% end %>
    </div>
  </div>
<% end %>