<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <%= link_to "Startup", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toogle navigation">
      <span class="navbar-toogler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "About", '#', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Services", '#', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contacts", '#', class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%= yield %>